includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  paths:
    - app
  excludePaths:
    - vendor
    - node_modules
    - storage
    - bootstrap/cache
  ignoreErrors:
    - '#Method .* has no return type specified#'
    - '#Parameter .* has no type specified#'
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
  tmpDir: .phpstan
